body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    background-color: #F7F7F7;
    padding: 60px 40px;
    width: 40%;
    border-radius: 15px;
}
.main__newsLetter{
    background-color: #F8F9FA;
    padding: 70px 50px;
    border: 2px solid #E9EBEF;
    border-radius: 12px;
}

.main__title {
    text-align: center;
    margin-bottom: 60px;
}
.main__title h2{
    font-size: 35px;
    font-weight: 400;
}

.form{}

.form__email{
    display: flex;
    flex-direction: column;
}
.form__email label{
    margin-bottom: 10px;
    font-size: 20px;
}
.form__email input {
    padding: 20px;
    border: none;
    background-color: #E9ECEF;
    font-size: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
}
.form__email input:hover {
    background-color: #DEE2E6;
}
.form__email input:focus {
    border-color: #000000;
    background-color: #ffffff;
}


.form button {
    padding: 20px;
    background-color: #1971C2;
    font-size: 20px;
    border-radius: 8px;
    color: #fff;
    width: 100%;
    border: none;
}
.form button:hover {
    background-color: #1864AB;
}
.form button:focus {
    border-color: #000000;
}